![Pandas logo](img/pandas.svg)

# Reading and Writing Data

Pandas comes with I/O functions for a great many different formats.  You can get a feel for most of them with the Jupyter interactive help, by typing `pd.read_<tab>` to get a pop-up showing the functions with that prefix.  You can get a similar list of built-in output formats once you have loaded a DataFrame by typing `df.to_<tab>`.

A partial list of formats Pandas supports are:

- [CSV](https://en.wikipedia.org/wiki/Comma-separated_values)
- [Excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)
- [SQL](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html)
- [JSON](http://www.json.org/)
- [HDF5](https://www.hdfgroup.org/HDF5/)
- [pickle](https://docs.python.org/3/library/pickle.html)
- [msgpack](http://msgpack.org/)
- [Stata](https://en.wikipedia.org/wiki/Stata)
- [Apache Parquet](https://parquet.apache.org/documentation/latest/)
- [Google BigQuery](https://en.wikipedia.org/wiki/BigQuery)

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from src.training import *

## CSV

Delimited files—most commonly comma-separated—are a very common data format for shared data.  Pandas' `.read_csv()` function has a huge number of optional parameters to control how a data file is read into a DataFrame.  One obvious and important one is `sep=<delimiter>` which defaults to comma but could be any other character.

Let us look at a few options against a small file we saw earlier.  Run `pd.read_csv?` in a cell to get a lot of documentation of parameters.

In [2]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'list[HashableT] | Callable[[Hashable], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Sequence[str] | Mapping[str, Sequence[str]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool' = False,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : list of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
   Format to use for parsing dates when used in conjunction with ``parse_dates``.
   For anything more complex, please read in as ``object`` and then apply
   :func:`~pandas.to_datetime` as-needed.

   .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors='replace'`` is passed to
       ``open()``. Otherwise, ``errors='strict'`` is passed to ``open()``.
       This behavior was previously only the case for ``engine='python'``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
    used as the ``sep`` delimiter. Equivalent to setting ``sep='\s+'``. If this option
    is set to ``True``, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set ``False``, or specify the type with the ``dtype`` parameter.
    Note that the entire file is read into a single :class:`~pandas.DataFrame`

While CSV is widely used and even reasonably fast to read, it does have some limitations.  Values within CSV or similar text formats are not typed directly in the encoding.  We need either to rely on our tool, e.g. Pandas, to infer types for us; or we need to specify them explicitly on import.

In [3]:
df = pd.read_csv('data/patient-records.csv')
df

     name        date  weight(kg)  height(cm)
0   Alice  2011-01-01        85.1         170
1    Barb  2012-02-02        66.7         160
2   Carla  2013-03-03        29.5         120
3  Dagmar  2014-04-04        64.2         180

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   date        4 non-null      object
 2   weight(kg)  4 non-null      float64
 3   height(cm)  4 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes

In the `.info()` display, strings are generically Python objects.  For a person name, that is the best choice, but the date should be handled more specifically.

In [5]:
# Parse the date in the "date colum"
df = pd.read_csv('data/patient-records.csv', parse_dates=['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   date        4 non-null      datetime64[ns]
 2   weight(kg)  4 non-null      float64
 3   height(cm)  4 non-null      int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 256.0+ bytes

In [6]:
# Change column names, explicit types of some columns, choose index
patients = pd.read_csv('data/patient-records.csv', 
                       skiprows=1,
                       names=['Patient', 'Visit_Date', 'Weight', 'Height'],
                       parse_dates=['Visit_Date'],
                       dtype={'Height': np.float16, 'Weight': np.float16},
                       index_col='Visit_Date')
patients

           Patient   Weight  Height
Visit_Date
2011-01-01   Alice  85.1250   170.0
2012-02-02    Barb  66.6875   160.0
2013-03-03   Carla  29.5000   120.0
2014-04-04  Dagmar  64.1875   180.0

In [7]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2011-01-01 to 2014-04-04
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Patient  4 non-null      object
 1   Weight   4 non-null      float16
 2   Height   4 non-null      float16
dtypes: float16(2), object(1)
memory usage: 80.0+ bytes

## Columns as Attributes

This simple DataFrame is an oportunity to note that if we happen to have column names that are valid Python identifiers, we can use a more compact attribute-style access rather than the dictionary-style indexing by column.  The square brackets are perfectly general, but the dot style sometimes looks nicer.

In [8]:
patients[(patients.Height > 165) & (patients.Weight < 80)]

           Patient   Weight  Height
Visit_Date
2014-04-04  Dagmar  64.1875   180.0

In [9]:
patients[(patients['Height'] > 165) & (patients['Weight'] < 80)]

           Patient   Weight  Height
Visit_Date
2014-04-04  Dagmar  64.1875   180.0

Once in a while you can get in trouble with the dot access because some attribute is both a column name and a DataFrame method or standard attribute.

In [10]:
df = pd.DataFrame({"A": [1, 5, 7], 'std': [31, 52, 68]})
df.A

0    1
1    5
2    7
Name: A, dtype: int64

In [11]:
df.std

<bound method DataFrame.std of    A  std
0  1   31
1  5   52
2  7   68>

In [12]:
df.std()

A       3.055050
std    18.556221
dtype: float64

In [13]:
df['std']

0    31
1    52
2    68
Name: std, dtype: int64

## Write a DataFrame Back to CSV

After we have manipulated DataFrames in some manner, we can easily write them to new delimited files.

In [14]:
import csv
patients.to_csv('tmp/patients.txt', sep='|', quoting=csv.QUOTE_NONNUMERIC)
!cat tmp/patients.txt

"Visit_Date"|"Patient"|"Weight"|"Height"
"2011-01-01"|"Alice"|85.125|170.0
"2012-02-02"|"Barb"|66.6875|160.0
"2013-03-03"|"Carla"|29.5|120.0
"2014-04-04"|"Dagmar"|64.1875|180.0

## SQL

There are a couple ways we can interact with SQL databases.  In particular, we can either read entire tables directly, or we can read the results of arbitrarily comple queries into DataFrames.  For the illustration here, an SQLite3 database is provided in the training materials.  However, the identical interfaces would work connecting to a distributed RDBMS (getting credentials correct for the connection object is a different topic, but once connection is established it is the same).

For reference, we first read in the Wisconsin breast cancer data set from CSV.

In [15]:
cancer_csv = pd.read_csv('data/wisconsin.csv')
cancer_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mean radius              569 non-null    float64
 1   mean texture             569 non-null    float64
 2   mean perimeter           569 non-null    float64
 3   mean area                569 non-null    float64
 4   mean smoothness          569 non-null    float64
 5   mean compactness         569 non-null    float64
 6   mean concavity           569 non-null    float64
 7   mean concave points      569 non-null    float64
 8   mean symmetry            569 non-null    float64
 9   mean fractal dimension   569 non-null    float64
 10  radius error             569 non-null    float64
 11  texture error            569 non-null    float64
 12  perimeter error          569 non-null    float64
 13  area error               569 non-null    float64
 14  smoothness error         569 non-null    float64
 15  compactness error        569 non-null    float64
 16  concavity error          569 non-null    float64
 17  concave points error     569 non-null    float64
 18  symmetry error           569 non-null    float64
 19  fractal dimension error  569 non-null    float64
 20  worst radius             569 non-null    float64
 21  worst texture            569 non-null    float64
 22  worst perimeter          569 non-null    float64
 23  worst area               569 non-null    float64
 24  worst smoothness         569 non-null    float64
 25  worst compactness        569 non-null    float64
 26  worst concavity          569 non-null    float64
 27  worst concave points     569 non-null    float64
 28  worst symmetry           569 non-null    float64
 29  worst fractal dimension  569 non-null    float64
 30  benign?                  569 non-null    int64
dtypes: float64(30), int64(1)
memory usage: 137.9 KB

In the RDBMS we use, the data is broken out into separate tables for the features and the target.  In a more real world example, we would generally encounter many tables with a variety of foreign key constraints, triggers, indices, and so on.  Using some plain SQL (no Pandas), let us take a look at the schemata.

In [16]:
from pprint import pprint
import sqlite3
db = sqlite3.connect('data/wisconsin.db')
cur = db.cursor()
cur.execute("SELECT * FROM sqlite_master;")
pprint(cur.fetchall())
del db

[('table',
  'features',
  'features',
  2,
  'CREATE TABLE "features" (\n'
  '"Observation_No" INTEGER,\n'
  '  "mean_radius" REAL,\n'
  '  "mean_texture" REAL,\n'
  '  "mean_perimeter" REAL,\n'
  '  "mean_area" REAL,\n'
  '  "mean_smoothness" REAL,\n'
  '  "mean_compactness" REAL,\n'
  '  "mean_concavity" REAL,\n'
  '  "mean_concave_points" REAL,\n'
  '  "mean_symmetry" REAL,\n'
  '  "mean_fractal_dimension" REAL,\n'
  '  "radius_error" REAL,\n'
  '  "texture_error" REAL,\n'
  '  "perimeter_error" REAL,\n'
  '  "area_error" REAL,\n'
  '  "smoothness_error" REAL,\n'
  '  "compactness_error" REAL,\n'
  '  "concavity_error" REAL,\n'
  '  "concave_points_error" REAL,\n'
  '  "symmetry_error" REAL,\n'
  '  "fractal_dimension_error" REAL,\n'
  '  "worst_radius" REAL,\n'
  '  "worst_texture" REAL,\n'
  '  "worst_perimeter" REAL,\n'
  '  "worst_area" REAL,\n'
  '  "worst_smoothness" REAL,\n'
  '  "worst_compactness" REAL,\n'
  '  "worst_concavity" REAL,\n'
  '  "worst_concave_points" REAL,\n'
  '  "worst_symmetry" REAL,\n'
  '  "worst_fractal_dimension" REAL\n'
  ')'),
 ('index',
  'ix_features_Observation_No',
  'features',
  3,
  'CREATE INDEX "ix_features_Observation_No"ON "features" ("Observation_No")'),
 ('table',
  'target',
  'target',
  46,
  'CREATE TABLE "target" (\n"Observation_No" INTEGER,\n  "benign" INTEGER\n)'),
 ('index',
  'ix_target_Observation_No',
  'target',
  47,
  'CREATE INDEX "ix_target_Observation_No"ON "target" ("Observation_No")')]

### Entire table

Unfortunately, Pandas often relies on the SQLAlchemy *object relational mapper* (ORM) rather than use the raw database connection.  Usually the wrapper does no harm, but ORMs *do impose* their world view too much in much of their API (not the parts used here, however).

In [17]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///data/wisconsin.db')

In [18]:
cancer_features_sql = pd.read_sql_table('features', engine, 
                                        index_col='Observation_No')
cancer_features_sql

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,...,worst_compactness,worst_concavity,worst_concave_points,worst_symmetry,worst_fractal_dimension
Observation_No,,,,,,,,,,,
0,17.99,10.38,122.80,1001.0,0.11840,...,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,...,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,...,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,...,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,...,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,...,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,...,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,...,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,...,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,...,0.06444,0.0000,0.0000,0.2871,0.07039

### Based on a query

We can issue an arbitrary query rather than read an entire table into a DataFrame.  If memory permits, it is often friendlier to do filtering and other operations within Pandas rather than within SQL; but this style allows whichever combination is most useful to you.

Note that `pd.read_sql()` is polymorphic in taking either a table name or a query, then doing some basic pattern matching to figure out which kind of request it is.  We find it better practice to be explicit about the query involved though.

In [19]:
sql = """
SELECT f.Observation_No, f.mean_radius, f.mean_texture, 
       f.mean_perimeter, t.benign 
FROM features f 
INNER JOIN target t 
WHERE f.Observation_No = t.Observation_No
LIMIT 100;
"""
cancer_with_target_sql = pd.read_sql_query(sql, engine, 
                                           index_col='Observation_No')
cancer_with_target_sql

                mean_radius  mean_texture  mean_perimeter  benign
Observation_No
0                    17.990         10.38          122.80       0
1                    20.570         17.77          132.90       0
2                    19.690         21.25          130.00       0
3                    11.420         20.38           77.58       0
4                    20.290         14.34          135.10       0
...                     ...           ...             ...     ...
95                   20.260         23.03          132.40       0
96                   12.180         17.84           77.79       1
97                    9.787         19.94           62.11       1
98                   11.600         12.84           74.34       1
99                   14.420         19.77           94.48       0

[100 rows x 4 columns]

## Write a DataFrame back to a table

After we have manipulated DataFrames in some manner, we can easily write them to tables in our RDBMS.

In [20]:
!rm tmp/cancer-partial.sqlite
db = sqlite3.connect('tmp/cancer-partial.sqlite')
cancer_with_target_sql.to_sql('my_table', db)

pprint(db.execute("SELECT * FROM my_table LIMIT 5").fetchall())

rm: cannot remove 'tmp/cancer-partial.sqlite': No such file or directory
[(0, 17.99, 10.38, 122.8, 0),
 (1, 20.57, 17.77, 132.9, 0),
 (2, 19.69, 21.25, 130.0, 0),
 (3, 11.42, 20.38, 77.58, 0),
 (4, 20.29, 14.34, 135.1, 0)]

## Excel Spreadsheets

Unfortunately, a great deal of data in the world lives in spreadsheets, and in Microsoft Excel specifically.  There are many things bad and broken about this format, but data comes as we get it.  For example:

* Very unreliable datatyping of columns and cells, especially if human entered data
* Poor handling of missing values
* Ragged, sparse, and irregular use of rectangular grid of rows/columns
* Computation expressed in distributed and hard-to-trace manner
* Inconsistent uses of tabs for hierarchy or structure
* Limitation on number of rows and inflexible datatypes
* Mediocre heuristics for inference of datatypes
* Use of columns for values of inconsistent datatypes
* **Extremely** slow compared to nearly every data format

Pandas allows us to read Excel sheets, and even to clean up the bad data we find once they are loaded into DataFrames.

In [21]:
cancer_excel = pd.read_excel('data/wisconsin.xlsx', 
                             sheet_name=['Features', 'Target'],
                             index_col='Observation_No')
cancer_excel['Features'].head()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,...,worst_compactness,worst_concavity,worst_concave_points,worst_symmetry,worst_fractal_dimension
Observation_No,,,,,,,,,,,
0,17.99,10.38,122.80,1001.0,0.11840,...,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,...,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,...,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,...,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,...,0.2050,0.4000,0.1625,0.2364,0.07678

In [22]:
cancer_excel['Target'].head()

                benign
Observation_No
0                    0
1                    0
2                    0
3                    0
4                    0

## External Data

Many of the `.read_<format>()` methods in Pandas are happy to accept URLs following a number of schemata (HTTP, HTTPS, FTP, S3, file, and others).

In [23]:
URL = ("https://bitbucket.org/davidmertz/sample-data/"
       "raw/9fb79b1e993e58ba7e3137f63726bb4a19bc0e8e/patient-records.csv")
pd.read_csv(URL)

     name        date  weight(kg)  height(cm)
0   Alice  2011-01-01        85.1         170
1    Barb  2012-02-02        66.7         160
2   Carla  2013-03-03        29.5         120
3  Dagmar  2014-04-04        64.2         180

## JSON

Pandas DataFrames are inherently two dimensional grids of values.  This is very broadly useful, and maps well to formats like CSV, spreadsheets, and relational database tables or queries.  However, other data is hierarchical or has other structures.

One of the most widely used hierarchical formats is Javascript Object Notation (JSON).  Flat grids are a subset, conceptually, of all possible nested structures.  But JSON is extermely widely used for data transmitted between web services, and for other purposes, so Pandas provides a number of ways to read/write JSON data that is "conceptually flat."

Some JSON formats result in lossy round-tripping with DataFrames since they do not represent all the components of a DataFrame.  Another thing to trip over is that JSON types by values; so e.g. if all values in a column are *equal to an integer* the writer will cast as integer.

In [24]:
df = pd.DataFrame({'col1': [1.0, 2, 3], 'col2': [5.1, 6.2, 7.3]},
                  index=['A', 'B', 'C'])
df.index.name = "Letter"
df

        col1  col2
Letter
A        1.0   5.1
B        2.0   6.2
C        3.0   7.3

In [25]:
style = 'split'
json = df.to_json(orient=style)
pprint(json)
pd.read_json(json, orient=style)

'{"columns":["col1","col2"],"index":["A","B","C"],"data":[[1.0,5.1],[2.0,6.2],[3.0,7.3]]}'

   col1  col2
A     1   5.1
B     2   6.2
C     3   7.3

In [26]:
style = 'records'
json = df.to_json(orient=style)
pprint(json)
pd.read_json(json, orient=style)

'[{"col1":1.0,"col2":5.1},{"col1":2.0,"col2":6.2},{"col1":3.0,"col2":7.3}]'

   col1  col2
0     1   5.1
1     2   6.2
2     3   7.3

In [27]:
style = 'index'
json = df.to_json(orient=style)
pprint(json)
pd.read_json(json, orient=style)

'{"A":{"col1":1.0,"col2":5.1},"B":{"col1":2.0,"col2":6.2},"C":{"col1":3.0,"col2":7.3}}'

   col1  col2
A     1   5.1
B     2   6.2
C     3   7.3

In [28]:
style = 'columns'
json = df.to_json(orient=style)
pprint(json)
pd.read_json(json, orient=style)

'{"col1":{"A":1.0,"B":2.0,"C":3.0},"col2":{"A":5.1,"B":6.2,"C":7.3}}'

   col1  col2
A     1   5.1
B     2   6.2
C     3   7.3

In [29]:
style = 'split'
json = df.to_json(orient=style)
pprint(json)
pd.read_json(json, orient=style)

'{"columns":["col1","col2"],"index":["A","B","C"],"data":[[1.0,5.1],[2.0,6.2],[3.0,7.3]]}'

   col1  col2
A     1   5.1
B     2   6.2
C     3   7.3

In [30]:
style = 'table'
json = df.to_json(orient=style)
pprint(json)
pd.read_json(json, orient=style)

'{"schema":{"fields":[{"name":"Letter","type":"string"},{"name":"col1","type":"number"},{"name":"col2","type":"number"}],"primaryKey":["Letter"],"pandas_version":"1.4.0"},"data":[{"Letter":"A","col1":1.0,"col2":5.1},{"Letter":"B","col1":2.0,"col2":6.2},{"Letter":"C","col1":3.0,"col2":7.3}]}'

        col1  col2
Letter
A        1.0   5.1
B        2.0   6.2
C        3.0   7.3

## Parquet and Arrow

Pandas can also read both the Parquet and Arrow formats, which are **far** higher performance than formats like Excel, CSV, JSON, and so on.  Both of these formats are column oriented and strictly data typed, which make them well suited to working on their data in data frames.

These two formats are slightly different creatures, however.  Arrow is a language-independent *memory format* so that varying libraries, across varying programming languages, can access the same data without performing copying.  For example, both Python Pandas and R dplyer can operate on the same memory, in principle.  Arrow also defines a serialization format, called Feather, which is essentially just a direct map of bytes in memory to bytes on disk.

Parquet is column-oriented *data file format* designed with very efficient data compression and encoding schemes.  However, when read into memory, Parquet data simply has the native in-memory layout of your data frame library. For modern versions of Pandas, that memory layout simply *is* Arrow.

In most cases, you should prefer to read and write Parquet rather than Arrow.  Its compression causes its files to use less disk space, and usually to read and write more quickly as well since CPU compression speeds greatly outpace disk write speeds.  Most of the same large range of tools, across many programming languages, support both Parquet and Arrow.

In [31]:
cancer_csv.to_parquet("tmp/wisconsin.parquet")
pd.read_parquet("tmp/wisconsin.parquet")

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,...,worst concavity,worst concave points,worst symmetry,worst fractal dimension,benign?
0,17.99,10.38,122.80,1001.0,0.11840,...,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,...,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,...,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,...,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,...,0.4000,0.1625,0.2364,0.07678,0
...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,...,0.4107,0.2216,0.2060,0.07115,0
565,20.13,28.25,131.20,1261.0,0.09780,...,0.3215,0.1628,0.2572,0.06637,0
566,16.60,28.08,108.30,858.1,0.08455,...,0.3403,0.1418,0.2218,0.07820,0
567,20.60,29.33,140.10,1265.0,0.11780,...,0.9387,0.2650,0.4087,0.12400,0
568,7.76,24.54,47.92,181.0,0.05263,...,0.0000,0.0000,0.2871,0.07039,1

In [32]:
cancer_csv.to_feather("tmp/wisconsin.feather")
pd.read_feather("tmp/wisconsin.feather")

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,...,worst concavity,worst concave points,worst symmetry,worst fractal dimension,benign?
0,17.99,10.38,122.80,1001.0,0.11840,...,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,...,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,...,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,...,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,...,0.4000,0.1625,0.2364,0.07678,0
...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,...,0.4107,0.2216,0.2060,0.07115,0
565,20.13,28.25,131.20,1261.0,0.09780,...,0.3215,0.1628,0.2572,0.06637,0
566,16.60,28.08,108.30,858.1,0.08455,...,0.3403,0.1418,0.2218,0.07820,0
567,20.60,29.33,140.10,1265.0,0.11780,...,0.9387,0.2650,0.4087,0.12400,0
568,7.76,24.54,47.92,181.0,0.05263,...,0.0000,0.0000,0.2871,0.07039,1

# Exercises

For a first few exercises, you will read and write from a variety of formats to get a feel for them.  Moreover, the speed of different formats can be dramatically different, so time operations against different formats (both reading and writing) using the `%timeit` magic in Jupyter.

Note that the `%timeit` macro creates its own namespace for operations, so when you want the actual result from an operation to work with more, you will need to run the function or method outside of the macro also.

## Obtain Data

Download the datasets provided as CSV URLs, and also save them locally as CSV.  Using the `tmp/` relative path within this training repository is a good choice of location to save files at.

* Is loading from local storage faster than from remote URL?
* What do you conclude about the main speed limitations in loading data from CSV?
* Does the same pattern hold for the smaller "Baby Names" dataset and the larger "Daily Temperatures" dataset?
* Were the inferred datatypes all the best choices for the respective fields?
* If you wanted to read some fields as different datatypes, how would you do that?
* What effect does file compression have on reading and writing CSV format?

In [33]:
# This dataset obtained from https://www.data.gov/
url = ("https://bitbucket.org/davidmertz/sample-data/raw/"
       "1bd7d3fbfc6842eb067ea9a9354b6b4e5b8597ab/Popular_Baby_Names.csv")
babynames = pd.read_csv(url)
babynames.to_csv('tmp/babynames.csv')
%timeit pd.read_csv(url)

767 ms ± 318 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

The United States [National Oceanic and Atmospheric Administration (NOAA)](https://www.noaa.gov/) provides a number of useful datasets.  We will work with a subset of daily temperatures worldwide during 2019, which was obtained from https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/.  Notice that Pandas will seamlessly read compressed CSV files as well.

In [34]:
url = ("https://bitbucket.org/davidmertz/sample-data/raw/"
       "61872271984f66e3094c367cf90dfc4875a22e8d/NOAA-2019-partial.csv.gz")
temperatures = pd.read_csv(url)
%timeit pd.read_csv(url)

2.26 s ± 119 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Play with Different Formats

Save these datasets in other formats we have discussed, or even only mentioned in passing.  

* How does the speed of reading and writing compare?
* Do you lose any information round-tripping between various formats? (datatypes are information too)
* How do you expect performance to scale if you were to move from half-a-million rows to a hundred million rows?
* Would the answer vary across different formats?

In [ ]:
# Experiment here...

## Explain Advantages and Disadvantages

Explain to the person sitting next to you (or write in a cell below) what advantages and disadvantages you find in using different storage formats for Pandas DataFrames.  It is fair if one of the advantages is "my boss/work requires me to use X."

*Explanation of virtues and demerits of formats ...*

## Working with Data

Using ideas we have presented in passing and patterns you learned working with NumPy, try to extract only the temperatures for January, February, and March.

In [ ]:
# Yes, the solstice and equinox do not line up with months exactly
# If you would like to find the accurate cut-offs for "winter", please do
winter = ... # something using `temperatures`

Being data from the United States, temperatures are unfortunately provided in Fahrenheit. At least it would appear so:

In [ ]:
temperatures['TEMP'].max(), temperatures['TEMP'].min()

As mentioned, the data is a subset of the full year data. In later lessons we try to characterize the distributions of dates, longitudes, lattitudes, elevaations, and so on.  But, we do know:

> The official highest recorded temperature is now 56.7℃ (134℉), which was measured on 10 July 1913 at Greenland Ranch, Death Valley, California, USA.

So 92.2 would be quite low if the whole earth was represented as ℉.  But the number is vastly higher than any earth-surface ℃.

For extra credit, see if you can figure out how to add a new column to the `temperatures` DataFrame called `TEMP(C)` with the obvious meaning and correct values.

In [ ]:
# Add a column for Celcius temperatures
...

Write your improved data back to disk in your preferred data format.