![Pandas logo](img/pandas.svg)

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from src.training import *

# Groupby Operations

A powerful way of analyzing data in DataFrames is to use the `.groupby()` method, and perform operations on the resulting `DataFrameGroupBy` object.

For several examples, we will load a slightly enhanced version of the Olympic medal data we worked with before.  In this case, the medal categories have been combined in one DataFrame, and some additional categorical data has been added.

We are not entirely pleased with the continent classifications, with the Carribean called North America, for example, but most countries are classified.  This data spans years covering a number of changes in names and territorial boundaries of countries, so it is messy in much the way most data is.

In [2]:
medals = pd.read_csv('data/olympic-medals.csv', index_col='Name')
medals

                     Abbrev  Gold  Silver  Bronze      Continent  Total Level
Name
Soviet Union            URS   838     627     584        Eurasia   2049  High
United States           USA  2088    1195    1052  North America   4335  High
United Kingdom          GBR   498     591     505         Europe   1594  High
France                  FRA   378     461     475         Europe   1314  High
Germany                 GER   407     350     454         Europe   1211  High
...                     ...   ...     ...     ...            ...    ...   ...
Senegal                 SEN     0       1       0         Africa      1   One
Sudan                   SUD     0       1       0         Africa      1   One
Tonga                   TGA     0       1       0         Africa      1   One
Burundi                 BDI     1       0       0         Africa      1   One
United Arab Emirates    UAE     1       0       0           Asia      1   One

[138 rows x 7 columns]

Let us take a look at what continents and "levels" exist for this purpose.

In [3]:
print(medals.Continent.unique())
print(medals.Level.unique())

['Eurasia' 'North America' 'Europe' 'Oceania' 'Asia' 'South America'
 'Africa' nan]
['High' 'Medium' 'Moderate' 'Low' 'One']

## What Do Like Things Have in Common?

The basic question grouping answers—in Pandas and in SQL whence the concept is borrowed—is what properties pertain to items that are categorically similar.  Grouping does not really make sense for continuous quantities; but it often does for scales divided by thresholds (as we do with 'Level' here).

In [4]:
group = medals.groupby('Level')
print(group)
group[["Gold", "Silver", "Bronze", "Total"]].mean()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fdfed195720>

                Gold      Silver      Bronze        Total
Level
High      634.333333  516.000000  503.000000  1653.333333
Low         0.468750    1.437500    2.250000     4.156250
Medium    118.322581  143.612903  142.161290   404.096774
Moderate    9.913043   11.500000   14.586957    36.000000
One         0.100000    0.300000    0.600000     1.000000

We can see the different "typical of achievement group" numbers of medals.  This would look better if the index was sorted more descriptively.

In [5]:
(medals
     .groupby('Level')
     [["Gold", "Silver", "Bronze", "Total"]]
     .mean()
     .sort_values('Total', ascending=False)
)

                Gold      Silver      Bronze        Total
Level
High      634.333333  516.000000  503.000000  1653.333333
Medium    118.322581  143.612903  142.161290   404.096774
Moderate    9.913043   11.500000   14.586957    36.000000
Low         0.468750    1.437500    2.250000     4.156250
One         0.100000    0.300000    0.600000     1.000000

How many nations fall in each group?

In [6]:
medals.groupby('Level').Total.count().sort_values()

Level
High         9
One         20
Medium      31
Low         32
Moderate    46
Name: Total, dtype: int64

The different achievement levels for nations was set by thresholds.  Let us try to reconstruct what those thresholds were.

In [7]:
medals.groupby('Level').Total.min()

Level
High        1021
Low            2
Medium       102
Moderate      11
One            1
Name: Total, dtype: int64

In [8]:
medals.groupby('Level').Total.max()

Level
High        4335
Low            9
Medium       825
Moderate      97
One            1
Name: Total, dtype: int64

## Multiple Aggregations

We got a sense of the thresholds by looking at minimum and maximum, but the presentation is not that convenient.  Moreover, it is less easy to work with later as separate DataFrames or Series representing a single aggregation.

In [9]:
(medals
     .groupby('Level')
     [["Gold", "Silver", "Bronze", "Total"]]
     .agg(['min', 'max', 'mean'])
)

         Gold                   Silver        ... Bronze             Total  \
          min   max        mean    min   max  ...    max        mean   min
Level                                         ...
High      293  2088  634.333333    308  1195  ...   1052  503.000000  1021
Low         0     2    0.468750      0     4  ...      7    2.250000     2
Medium     21   329  118.322581     16   271  ...    320  142.161290   102
Moderate    0    44    9.913043      1    38  ...     53   14.586957    11
One         0     1    0.100000      0     1  ...      1    0.600000     1


           max         mean
Level
High      4335  1653.333333
Low          9     4.156250
Medium     825   404.096774
Moderate    97    36.000000
One          1     1.000000

[5 rows x 12 columns]

The thresholds were set, as it happens, using total medals rather than one category. We can focus on that.

In [10]:
# Notice that some common aggregations have names
# ... but we can also pass in an arbitrary ufunc
(medals
     .groupby('Level')
     .Total
     .agg(['min', 'max', 'mean', np.std])
     .sort_values('min')
)

           min   max         mean          std
Level
One          1     1     1.000000     0.000000
Low          2     9     4.156250     2.259166
Moderate    11    97    36.000000    24.813079
Medium     102   825   404.096774   203.830216
High      1021  4335  1653.333333  1056.990894

## Nested Grouping

We might be interested in the combination of multiple categorical fields.  Notice that the levels are based on total medals.

In [11]:
with show_all_rows():
    print(medals.groupby(['Level', 'Continent']).max())

                       Abbrev  Gold  Silver  Bronze  Total
Level    Continent
High     Eurasia          URS   838     627     584   2049
         Europe           SWE   498     591     505   1594
         North America    USA  2088    1195    1052   4335
         Oceania          AUS   293     369     413   1075
Low      Africa           ZAM     2       4       3      7
         Asia             VIE     1       4       5      7
         Eurasia          ARM     1       1       7      9
         Europe           MDA     1       3       6      7
         North America    PUR     2       1       7      8
         Oceania          PHI     0       2       7      9
         South America    SUR     1       1       1      2
Medium   Asia             PAK   234     252     270    704
         Eurasia          RUS   192     206     240    638
         Europe           YUG   329     271     320    825
         North America    JAM   160     211     227    592
         Oceania          NZL    76      27      61    164
         South America    BRA    68     139     174    372
Moderate Africa           ZIM    26      38      36     97
         Asia             UZB    11      27      30     52
         Eurasia          TUR    37      23      22     82
         Europe           SVK    31      30      53     92
         North America    TRI    14      18      48     80
         Oceania          INA    20      14      12     35
         South America    VEN    44      17      30     76
One      Africa           TOG     1       1       1      1
         Asia             UAE     1       0       1      1
         Europe           MKD     0       0       1      1
         North America    ISV     0       1       1      1
         South America    GUY     0       0       1      1

We can combine several aggregations, and include a novel one: `list`.  That is, simply the Python function list.  Let us look at all the different Gold medal counts per each country within each nested group.  Also we simultaenously find the median of the group and a count of how many countries make up each group.

In [12]:
medals.groupby(['Level', 'Continent']).Gold.agg(['count', 'median', 'max', list])

                     count  median   max                            list
Level Continent
High  Eurasia            1   838.0   838                           [838]
      Europe             6   403.5   498  [498, 378, 407, 460, 400, 347]
      North America      1  2088.0  2088                          [2088]
      Oceania            1   293.0   293                           [293]
Low   Africa             6     0.5     2              [2, 1, 0, 1, 0, 0]
...                    ...     ...   ...                             ...
One   Africa            10     0.0     1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
      Asia               4     0.0     1                    [0, 0, 0, 1]
      Europe             1     0.0     0                             [0]
      North America      4     0.0     0                    [0, 0, 0, 0]
      South America      1     0.0     0                             [0]

[29 rows x 4 columns]

Which country within each nested group was the one that actually won that highest number of Gold medals?  `.idxmax()` is an interesting aggregation that gives you the actual index of the item matching the maximum.  More advanced users of NumPy will know `.argmax()` and `.argsort()` which work similarly.

In [13]:
medals.groupby(['Level', 'Continent']).Gold.idxmax()

Level  Continent
High   Eurasia                  Soviet Union
       Europe                 United Kingdom
       North America           United States
       Oceania                     Australia
Low    Africa                        Tunisia
                                ...
One    Africa                        Burundi
       Asia             United Arab Emirates
       Europe                      Macedonia
       North America                Barbados
       South America                  Guyana
Name: Gold, Length: 29, dtype: object

In [14]:
medals.groupby(['Level', 'Continent']).Gold.agg(['idxmax', 'max'])

                                   idxmax   max
Level Continent
High  Eurasia                Soviet Union   838
      Europe               United Kingdom   498
      North America         United States  2088
      Oceania                   Australia   293
Low   Africa                      Tunisia     2
...                                   ...   ...
One   Africa                      Burundi     1
      Asia           United Arab Emirates     1
      Europe                    Macedonia     0
      North America              Barbados     0
      South America                Guyana     0

[29 rows x 2 columns]

## Group By Derived Feature

The categorical distinction Pandas can group by does not need to be an actual column.  It could potentially be something that can be calculated from a column, or even from the index.

This is a bit silly as a practical need, but let us group countries by the last letter of their name, just to illustrate.  There were 6545 medals won by countries whose name ends in 'a'.

In [ ]:
medals.groupby(medals.index.str[-1]).Total.sum()

A bit more plausibly, and similar to the operation done in advance to derive `Level`, we can look at the logarithm of the Gold medal count to get a modest number of categories.  We add one to the count because we cannot take the log of zero.

In [ ]:
grouper = medals.groupby(np.log(medals.Gold + 1).astype(int))
grouper.Gold.agg(["count", "min", "max"])

# Exercises

For these exercises, we will again work with our NOAA temperature dataset in the large version.  We will derive some categorical features.  The last section of this module that looked at derived features will be relevant.

Just as a suggestion, you may find it easier to derive a feature and place that derived value in a new column to work with.  Generally, Pandas will always give you ways to achieve the goal without that intermediate step.  However, the "fluent style" of Pandas that chain many methods can become confusing quickly to beginners.  Saving intermediate results in new objects or in new columns is fine.

In [ ]:
# For exercises, we probably want to look at more rows in results
pd.options.display.max_rows = 50
url = ("https://bitbucket.org/davidmertz/sample-data/raw/"
       "61872271984f66e3094c367cf90dfc4875a22e8d/NOAA-2019-partial.csv.gz")
temperatures = pd.read_csv(url)
temperatures['DATE'] = pd.to_datetime(temperatures.DATE, format="%Y-%m-%d")

In [ ]:
temperatures.columns

You may have noticed that the data in this dataset is predominantly from stations in northern latitudes.  That does not reflect a limitation of NOAA's data collection, but simply the numbering system they use for download files.  In putting together the sample data for this course, we only downloaded files whose names begin with the numeral '0' (then aggregated them for the dataset you have worked with).

### Clean the Data

First step, remove all the latitudes south of 40°N.  This is a relatively small number of rows, as described above.

In [ ]:
# Remove data outside northern circumference
...

### Create Categorical Data

We would like to divide the data between 40°N and 90°N into latitude bands of 10 degrees.  Save those band memberships in a new column called `Latitude_Band`.  You may use either a string or a number to represent the bands, the point is simply to have a small number of them rather than a continuous range.

In [ ]:
# Make latitude categorical
...

We would also like to create a new categorical column called `Month` that represents which month of the year a measurement was in.  Ideally, store the string name of the month in that column, but an integer is acceptable.

In [ ]:
# Make month categorical
...

One more categorical to go.  We would like to divide elevation into bands, similarly to what you did with latitude.  However, elevations are clustered at lower numbers, so we wish to create `Elevation_Band` based on the log base-10 of the raw elevation. I.e. it will be in 5 bands with minima of 0, 1, 10, 100, 1000.

**Note**: Actually there is a trick here! A few of the stations are below sea level and have negative elevations.  Let us make those be a separate category also.

## Group and Aggregate

We would like to look at the following:

* Mean temperature, windspeed, and precipiation, simply by month.
* Mean and maximum temperature, windspeed, and precipitation by month and latitude band.
* Think also about what you read at [Global Surface Summary of the Day](https://data.nodc.noaa.gov/cgi-bin/iso?id=gov.noaa.ncdc:C00516) in deciding the most appropriate data fields to use.
* Minimum and maximum temperature and atmospheric pressure by month, latitude band, and elevation band.
* The total variability of temperatures within each particular month, latitude band, and elevation band group.  Again think about choosing the best featuers to answer this.

In [ ]:
# Aggregate numerous quanities by various categoricals
...